Source: ppa-download-counter
Section: web
Priority: optional
Maintainer: Pavel Rehak <pavel-rehak@email.cz>
Build-Depends: debhelper (>=10)
Standards-Version: 4.1.2
Homepage: https://github.com/pavreh/ppa-download-counter

Package: ppa-download-counter
Architecture: all
Depends: ${misc:Depends}, yad, jq
Suggests:
Description: Check downloads from PPA
 GTK+ GUI tool for checking number of downloads from PPA.

